$black: #1d1d1d;
$white: #ffffff;
$text: #595959;
$accent: #fb6d3a;
$black-1: #1e2939;
$accent-grey: #6D6D6D;


%roboto-400 {
  font-family: 'Roboto-Regular';
  font-weight: 400;
}
%roboto-500 {
  font-family: 'Roboto-Medium';
  font-weight: 500;
}
%roboto-700 {
  font-family: 'Roboto-Bold';
  font-weight: 700;
}
