@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.resume {
  &__inner {
    display: flex;
  }
  &__sidebar {
    max-width: 500px;
    width: 100%;
    padding: 100px 0;
    margin-right: 50px;
    background-color: $black-1;
  }
  &__picture {
    width: 100%;
    height: auto;
    display: block;
    img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }
  &__sidebar-box {
    padding-left: 20px;
  }
  &__content {
    width: 100%;
  }
  &__title {
    @extend %roboto-700;
    font-size: 42px;
    line-height: 1.6;
    letter-spacing: 0.02em;
    color: $black;
    margin-bottom: 5px;
  }
  &__subtitle {
    @extend %roboto-700;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: $black;
    margin-bottom: 50px;
  }
  
  ul.resume__person {
    margin-bottom: 50px;
  }
  &__person-item {
    @extend %roboto-400;
    line-height: 1.2;
    color: $text;
    span {
      @extend %roboto-500;
      color: $black;
    }
  }
}
.contact {
  padding-top: 50px;
  margin-bottom: 30px;
  &__title {
    margin-bottom: 20px;
  }
  &__item {
    margin-bottom: 15px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__link {
    @extend %roboto-400;
    font-size: 16px;
    line-height: 1;
    color: $text;
    display: inline-flex;
    padding-left: 36px;
    position: relative;
    &:hover {
      color: $white;
    }
    &::before {
      position: absolute;
      content:'';
      top: 50%;
      transform: translateY(-50%);
      left: 10px;
    }
    &--tel {
      &::before {
        background-image: url('../images/icon/phone.svg');
        width: 16px;
        height: 16px;
      }
    }
    &--mail {
      &::before {
        background-image: url('../images/icon/email.svg');
        width: 16px;
        height: 16px;
      }
    }
    &--telegram {
      &::before {
        background-image: url('../images/icon/telegram.svg');
        width: 16px;
        height: 17px;
      }
    }
    &--ln {
      &::before {
        background-image: url('../images/icon/linkedin.svg');
        width: 16px;
        height: 18px;
      }
    }
    &--git {
      &::before {
        background-image: url('../images/icon/github-brands-solid.svg');
        width: 16px;
        height: 17px;
      }
    }
  }
}
.tech {
  margin-bottom: 30px;
  ul.tech__list {
    padding-left: 30px;
  }
  li.tech__item {
    &::marker {
      color: $accent;
      font-size: 18px;
    }
    list-style: disc;
    color: $white;
  }
}
.soft {
  margin-bottom: 30px;
  ul.soft__list {
    padding-left: 30px;
  }
  li.soft__item {
    &::marker {
      color: $accent;
      font-size: 18px;
    }
    list-style: disc;
    color: $white;
  }
}
.projects {
  margin-bottom: 30px;
  &__title {
    @extend %roboto-700;
    font-size: 22px;
    line-height: 1.4;
    letter-spacing: 0.02em;
    margin-bottom: 20px;
  }

  ol.projects__list {
    counter-reset: number;
  }

  &__item {
    display: flex; 
    align-items: center;
    padding-left: 30px;
    list-style-type: none;
    position: relative;
    margin-bottom: 20px;
    &::before {
    counter-increment: number;
    content: "0" counter(number);
    position: absolute;
    @extend %roboto-500;
    color: $accent;
    font-size: 18px;
    left: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }

  &__link {
    @extend %roboto-400;
    line-height: 1.2;
    font-size: 18px;
    color: $text;
    white-space: nowrap;
    &:hover {
      color: $accent;
    }
  }
  &__separator {
    width: 100%;
    margin: 0 5px;
    padding: 0 5px;
    white-space: nowrap;
  
    &::after {
      display: block;
      content: '';
      border-bottom: 2px dotted $black;
      content: "";
      flex-grow: 1;
      width: 100%;
    }
  }
  &__tech {
    @extend %roboto-400;
    white-space: nowrap;
    font-size: 14px;
  }
}
.exprs {
  margin-bottom: 50px;
  &__title {
    @extend %roboto-700;
    font-size: 24px;
    line-height: 1.4;
    letter-spacing: 0.02em;
    margin-bottom: 20px;
  }
  &__block {
    margin-bottom: 20px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__block-title {
    @extend %roboto-700;
    line-height: 1.2;
    color: $black;
    margin-bottom: 10px;
    span {
      color: $accent;
    }
  }
  &__period {
    @extend %roboto-400;
    line-height: 1.2;
    color: $text;
    margin-bottom: 10px;
    span {
      color: $black;
      font-size: 18px;
    }
  }
  ul.exprs__list {
    padding-left: 20px;
  }
  li.exprs__item {
    @extend %roboto-400;
    line-height: 1.2;
    color: $black;
    list-style: disc;
    &::marker {
      color: $accent;
      font-size: 18px;
    }
  }
}
.education {
  &__title {
    @extend %roboto-700;
    font-size: 24px;
    line-height: 1.4;
    letter-spacing: 0.02em;
    margin-bottom: 20px;
  }
  &__item {
    margin-bottom: 20px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__item-title {
    @extend %roboto-700;
    line-height: 1.4;
    font-size: 18px;
    color: $accent;
    margin-bottom: 5px;
  }
  &__subtitle {
    @extend %roboto-700;
    line-height: 1.4;
    font-size: 18px;
    color: $black;
  }
  &__author {
    @extend %roboto-700;
    line-height: 1.4;
    color: $black;
  }
  &__date {
    @extend %roboto-400;
    color: $text;
    line-height: 1.4;
    span {
      color: $black;
      font-size: 18px;
    }
  }
}
@import 'media';